<div class="card border-primary mb-3">
  <p-messages [value]="msgs" [closable]="true" [showTransitionOptions]="'10ms'" [hideTransitionOptions]="'0ms'"></p-messages>
  <div class="card-body text-primary">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-lg-10">
          <h1>Lista Pacientes</h1>
        </div>
        <div class="ui-g-12 ui-lg-2" style="text-align:right;">
            <button type="button" pButton icon="pi pi-plus" (click)="nuevoPaciente()" label="Agregar Paciente"></button>
        </div>

    <p-table #dt [columns]="cols" [value]="clientes" selectionMode="single" dataKey="identificacion"
     (onRowSelect)="onRowSelect($event)"  [(selection)]="selectedCliente" [responsive]="true" [paginator]="true"
     [lazy]="true" (onLazyLoad)="loadCarsLazyT($event)" [rows]="10" [totalRecords]="totalRecords">
        <ng-template pTemplate="header" let-columns>
           <tr>
             <th *ngFor="let col of columns">
                {{col.header}}
             </th>
            </tr>
            <tr>
                 <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input *ngSwitchCase="'identificacion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'telefono'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'fechaNacimiento'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>{{rowData.identificacion}}</td>
              <td>{{rowData.nombre}}</td>
              <td>{{rowData.email}}</td>
              <td>{{rowData.telefono}}</td>
              <td>{{rowData.fechaNa | date:"EEEE dd, MMMM yyyy"}}</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>
</div>
