<div class="card border-primary mb-3">
    <p-messages [(value)]="msgs" [hideTransitionOptions]="'300ms'" escape="false" ></p-messages>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <h1>Administrar Marcas</h1>

    <p-fieldset legend="Informacion Marca">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <span>Nombre:</span>
                <input type="text" maxlength="40" [(ngModel)]="selectedMarca.nombre" name="nombre" #nombre="ngModel"
                    placeholder="Nombre" pInputText>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <span>Descripción:</span>
                <input type="text" [(ngModel)]="selectedMarca.descripcion" name="descripcio" #parentesco="ngModel"
                    placeholder="Descripcion" pInputText>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <button type="button" pButton icon="pi pi-save" (click)="guardarMarca(dt)" style="margin-top: 7%;"
                    label="Guardar"></button>
            </div>
        </div>
    </p-fieldset>
    <br />
    <p-table #dt [columns]="cols" [value]="marcas" dataKey="idMarca" [responsive]="true" [paginator]="true" [lazy]="true"
        (onLazyLoad)="loadCarsLazyT($event)" [rows]="10" [totalRecords]="totalRecords">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width:8em"></th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'idMarca'" pInputText type="text"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'nombre'" pInputText type="text"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'descripcion'" pInputText type="text"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">
                </th>
                <th style="width:8em"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>{{rowData.idMarca}}</td>
                <td>{{rowData.nombre}}</td>
                <td>{{rowData.descripcion}}</td>
                <td style="text-align:center">
                    <button pButton type="button" icon="pi pi-pencil" (click)="selectMarca(rowData)"
                        style="margin-right: .5em"></button>
                    <button pButton type="button" icon="pi pi-trash" (click)="confirmBorrar(rowData)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>