<!-- <detalle-empleado *ngIf="empleadoSeleccionado" [empleado] ="empleadoSeleccionado"></detalle-empleado> -->

<div class="card border-primary mb-3">
    <div class="card-body text-primary">
      <p-messages [value]="msgs" class="col-6 align-self-center" [closable]="true" [showTransitionOptions]="'10ms'"
        [hideTransitionOptions]="'0ms'"></p-messages>
      <h5 class="card-title">Administrar Empleados</h5>
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"
            *ngIf="authService.hasRole('ROLE_ADMIN')"></button>
        </ng-template>
  
        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
      </p-toolbar>
  
      <div *ngIf="empleados?.length == 0" class="alert alert-info">
        No hay registros en la base de datos!
      </div>
      <p-table #dt [value]="empleados" dataKey="id" [showCurrentPageReport]="true" [rows]="10"
        [totalRecords]="totalRecords" [loading]="loading" styleClass="p-datatable-customers" [rowHover]="true"
        [paginator]="true" (onLazyLoad)="loadCarsLazyT($event)" [filterDelay]="0"
        [globalFilterFields]="['id','nombre','apellido']">
  
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Listado Empleados</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 5%;">Id</th>
            <th style="width: 15%;">Nombre</th>
            <th style="width: 15%;">Apellido</th>
            <th style="width: 25%;">Correo</th>
            <th style="width: 20%;">Fecha Actualizacion</th>
            <th style="width: 15%;" *ngIf="authService.hasRole('ROLE_ADMIN')"></th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>
              <img [src]="rowData.fotoLista" [alt]="rowData?.foto" class="img imgRedondaPerfil" *ngIf="rowData?.foto"
                style="width:40px; height: 40px;">
  
              <img (click)="abrirModal(empleado)" *ngIf="!rowData?.foto" src="http://localhost:8080/images/no-empleado.png"
                alt="Sin foto" class="imgRedondaLista" style="width:40px; height: 40px; cursor: pointer;">
            </td>
            <td>{{rowData.id}}</td>
            <td>{{rowData.nombre}}</td>
            <td>{{rowData.apellido}}</td>
            <td>{{rowData.email}}</td>
            <td>{{rowData.createAt | date:"dd/MM/yyyy"}}</td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editarEmpleado(rowData)" *ngIf="authService.hasRole('ROLE_ADMIN')"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="eliminarEmpleado(rowData)" *ngIf="authService.hasRole('ROLE_ADMIN')"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Existen en total {{empleados ? empleados.length : 0 }} empleados.
          </div>
        </ng-template>
      </p-table>
    </div>
    <p-dialog [(visible)]="empleadoDialog" [style]="{width: '650px'}" header="Detalle del Empleado" [modal]="true" (onHide)="limpiarPasswords()"
      styleClass="p-fluid" [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="true">
      <p-messages [value]="msgs2" key="modal-message" class="col-6 align-self-center" [closable]="true" [showTransitionOptions]="'10ms'"
        [hideTransitionOptions]="'0ms'"></p-messages>
      <ng-template pTemplate="content" style="height: 700px !important;">
  
        <img [src]="retrievedImage" [alt]="empleadoSeleccionado.foto" class="img imgRedondaPerfil"
          *ngIf="empleadoSeleccionado.foto" style="width:50px; height: 50px; margin-left: 45%;">
        <div style="margin-left: 40%; margin-bottom: 20px;">
          <p-fileUpload mode="basic" name="myfile[]" chooseLabel="Subir Foto" customUpload="true" multiple="multiple"
            (uploadHandler)="subirFoto($event)" accept="image/*"></p-fileUpload>
        </div>
  
  
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col">
            <label for="nombre">Nombre</label>
            <input type="text" pInputText id="nombre" [(ngModel)]="empleadoSeleccionado.nombre" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !empleadoSeleccionado.nombre">Nombre es requerido.</small>
          </div>
          <div class="p-field p-col">
            <label for="apellido">Apellidos</label>
            <input type="text" pInputText id="apellido" [(ngModel)]="empleadoSeleccionado.apellido" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !empleadoSeleccionado.apellido">Apellido es requerido.</small>
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col">
            <label for="email">Correo</label>
            <input type="text" pInputText id="email" [(ngModel)]="empleadoSeleccionado.email" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !empleadoSeleccionado.email">Correo es requerido.</small>
          </div>
          <div class="p-field p-col">
            <label for="email">Roles</label>
            <span class="p-float-label">
              <p-multiSelect inputId="multiselect" [options]="roles" [(ngModel)]="rolesSelected" optionLabel="nombre"
                [filter]="false"></p-multiSelect>
              <small class="p-invalid" *ngIf="submitted && rolesSelected.length == 0">Debe seleccionar al menos un
                role.</small>
            </span>
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col">
            <label for="empleado">Empleado</label>
            <input type="text" pInputText id="empleado" [(ngModel)]="empleadoSeleccionado.username" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !empleadoSeleccionado.username">Empleado es requerido.</small>
          </div>
  
          <div class="p-field p-col">
            <label>Contraseña</label>
            <input type="password" [(ngModel)]="empleadoSeleccionado.password" required autofocus style="width: 88%" [disabled]="empleadoSeleccionado.id"
              promptLabel="Ingrese la contraseña" weakLabel="Debil" mediumLabel="Medio" strongLabel="Fuerte" [showPassword]="password"
              placeholder="Contraseña Actual" pPassword />           
            <button *ngIf="password" type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-danger" (click)="showPassword()"></button>
            <button *ngIf="!password" type="button" pButton pRipple icon="pi pi-eye-slash" styleClass="p-button-danger" (click)="showPassword()"></button>
            <small class="p-invalid" *ngIf="submitted && !empleadoSeleccionado.password">Contraseña es requerida.</small>
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col" style="margin-top: 30px; margin-top: 30px;">
            Habilitado
            <p-inputSwitch id="habilitado" [(ngModel)]="empleadoSeleccionado.enabled"></p-inputSwitch>
          </div>
        </div>
        <p-accordion *ngIf="empleadoSeleccionado.id">
          <p-accordionTab header="Cambiar Contrasena">
            <div class="p-inputgroup" style="margin-bottom: 5px;">
              <input type="password" [(ngModel)]="empleadoSeleccionado.actualPassword" promptLabel="Ingrese la contraseña" weakLabel="Debil" mediumLabel="Medio"
                strongLabel="Fuerte" placeholder="Contraseña Actual" pPassword [showPassword]="oldPassword" />
              <button *ngIf="oldPassword" type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-danger" (click)="showOldPassword()"></button>
              <button *ngIf="!oldPassword" type="button" pButton pRipple icon="pi pi-eye-slash" styleClass="p-button-danger" (click)="showOldPassword()"></button>
            </div>
            <div class="p-inputgroup"  style="margin-bottom: 5px;">
              <input type="password" [(ngModel)]="empleadoSeleccionado.newPassword" promptLabel="Ingrese la contraseña" weakLabel="Debil" mediumLabel="Medio"
                strongLabel="Fuerte" placeholder="Nueva Contraseña" pPassword [showPassword]="newPassword"/>
              <button *ngIf="newPassword" type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-danger" (click)="showNewPassword()"></button>
              <button *ngIf="!newPassword" type="button" pButton pRipple icon="pi pi-eye-slash" styleClass="p-button-danger" (click)="showNewPassword()"></button>
            </div>
            <div class="p-inputgroup">
              <input type="password" [(ngModel)]="empleadoSeleccionado.confirmNewPassword" promptLabel="Ingrese la contraseña" weakLabel="Debil" mediumLabel="Medio"
                strongLabel="Fuerte" placeholder="Repetir Contraseña" pPassword [showPassword]="confirmNewPassword"/>
              <button *ngIf="confirmNewPassword" type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-danger" (click)="showNewConfirmPassword()"></button>
              <button *ngIf="!confirmNewPassword" type="button" pButton pRipple icon="pi pi-eye-slash" styleClass="p-button-danger" (click)="showNewConfirmPassword()"></button>
            </div>
  
          </p-accordionTab>
        </p-accordion>
  
  
        <!-- <div class="p-field">
              <label for="description">Description</label>
              <textarea id="description" pInputTextarea [(ngModel)]="empleadoSeleccionado.description" required rows="3" cols="20"></textarea>
          </div>
  
          <div class="p-field">
              <label class="p-mb-3">Category</label>
              <div class="p-formgrid p-grid">
                  <div class="p-field-radiobutton p-col-6">
                      <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="empleadoSeleccionado.category"></p-radioButton>
                      <label for="category1">Accessories</label>
                  </div>
                  <div class="p-field-radiobutton p-col-6">
                      <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="empleadoSeleccionado.category"></p-radioButton>
                      <label for="category2">Clothing</label>
                  </div>
                  <div class="p-field-radiobutton p-col-6">
                      <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="empleadoSeleccionado.category"></p-radioButton>
                      <label for="category3">Electronics</label>
                  </div>
                  <div class="p-field-radiobutton p-col-6">
                      <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="empleadoSeleccionado.category"></p-radioButton>
                      <label for="category4">Fitness</label>
                  </div>
              </div>
          </div>
  
          <div class="p-formgrid p-grid">
              <div class="p-field p-col">
                  <label for="price">Price</label>
                  <p-inputNumber id="price" [(ngModel)]="empleadoSeleccionado.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
              </div>
              <div class="p-field p-col">
                  <label for="quantity">Quantity</label>
                  <p-inputNumber id="quantity" [(ngModel)]="empleadoSeleccionado.quantity"></p-inputNumber>
              </div>
          </div> -->
      </ng-template>
  
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
          (click)="salvarEmpleado()"></button>
      </ng-template>
    </p-dialog>
  
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>