<div class="p-grid">
<div class="p-col-12">
    <div class="card">
        <h5>Paises</h5>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-3">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" maxlength="45" [(ngModel)]="selectedPais.nombre" name="nombre" #nombre="ngModel"pInputText>
            </div>
            <div class="p-field p-col-12 p-md-5">
                <label for="descripcion">Descripcion</label>
                <input id="descripcion" type="text" [(ngModel)]="selectedPais.descripcion" name="descripcion" #descripcion="ngModel" pInputText>
            </div>    
            <div class="p-field p-col-12 p-md-2">
                <button type="button" pButton icon="pi pi-refresh" (click)="limpiar()" style="margin-top: 10%;" class="p-button-raised p-button-secondary p-mr-2 p-mb-2"
                label="Limpiar"></button>
            </div>
                <div class="p-field p-col-12 p-md-2">
                <button type="button" pButton icon="pi pi-save" (click)="guardarPais(dt)" style="margin-top: 10%;"
                label="Guardar"></button>
            </div>      
        </div>
        <br />
    <p-table #dt [columns]="cols" [value]="paises" dataKey="idPais" [responsive]="true" [paginator]="true" [lazy]="true"
        (onLazyLoad)="loadCarsLazyT($event)" [rows]="10" [totalRecords]="totalRecords">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width:8em"></th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'idPais'" pInputText type="text"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'nombre'" pInputText type="text"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'descripcion'" pInputText type="text"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">
                </th>
                <th style="width:8em"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>{{rowData.idPais}}</td>
                <td>{{rowData.nombre}}</td>
                <td>{{rowData.descripcion}}</td>
                <td style="text-align:center">
                    <button pButton type="button" icon="pi pi-pencil" (click)="selectPais(rowData)"
                        style="margin-right: .5em"></button>
                    <button pButton type="button" icon="pi pi-trash" (click)="confirmBorrar(rowData)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>
</div>

<!-- <div class="card border-primary mb-3">
    <p-messages [(value)]="msgs" enableService="true" [hideTransitionOptions]="'300ms'" ></p-messages>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <p-toast [style]="{marginTop: '80px'}" life="50000"></p-toast>
    <h1>Administrar Paises</h1>

    <p-fieldset legend="Informacion Pais">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <span>Nombre:</span>
                <input type="text" maxlength="45" [(ngModel)]="selectedPais.nombre" 
                    placeholder="Nombre" pInputText>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4 p-field p-fluid">
                <span>Descripcion:</span>
                <input type="text" [(ngModel)]="selectedPais.descripcion" style="    border-color: #f44336;"
                    placeholder="Descripcion" class="ng-invalid ng-dirty" pInputText>      
                    <small id="username-help" class="p-error" style="color: #f44336;">Username is not available.</small>         
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <button type="button" pButton icon="pi pi-save" (click)="guardarPais(dt)" style="margin-top: 7%;"
                    label="Guardar"></button>
            </div>
        </div>
    </p-fieldset>
    
</div> -->