  <p-dialog [(visible)]="usuarioDialog" [style]="{width: '650px'}" header="Detalle del Usuario" [modal]="true" (onHide)="limpiarPasswords()"
    styleClass="p-fluid" [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="true">
    <p-messages [value]="msgs2" key="modal-message" class="col-6 align-self-center" [closable]="true" [showTransitionOptions]="'10ms'"
      [hideTransitionOptions]="'0ms'"></p-messages>
    <ng-template pTemplate="content" style="height: 700px !important;">

      <img [src]="retrievedImage" [alt]="usuarioSeleccionado.empleado.foto" class="img imgRedondaPerfil"
        *ngIf="usuarioSeleccionado.empleado.foto" style="width:50px; height: 50px; margin-left: 45%;">
      <div style="margin-left: 40%; margin-bottom: 20px;">
        <p-fileUpload mode="basic" name="myfile[]" chooseLabel="Subir Foto" customUpload="true" multiple="multiple"
          (uploadHandler)="subirFoto($event)" accept="image/*"></p-fileUpload>
      </div>


      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="nombre">Nombre</label>
          <input type="text" pInputText id="nombre" [(ngModel)]="usuarioSeleccionado.empleado.persona.nombre" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !usuarioSeleccionado.empleado.persona.nombre">Nombre es requerido.</small>
        </div>
        <div class="p-field p-col">
          <label for="apellido">Apellidos</label>
          <input type="text" pInputText id="apellido" [(ngModel)]="usuarioSeleccionado.empleado.persona.apellidos" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !usuarioSeleccionado.empleado.persona.apellidos">Apellido es requerido.</small>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="email">Correo</label>
          <input type="text" pInputText id="email" [(ngModel)]="usuarioSeleccionado.empleado.persona.email" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !usuarioSeleccionado.empleado.persona.email">Correo es requerido.</small>
        </div>
        <div class="p-field p-col">
          <label for="email">Roles</label>
          <span class="p-float-label">
            <p-multiSelect inputId="multiselect" [options]="roles" [(ngModel)]="rolesSelected" optionLabel="nombre"
              [filter]="false"></p-multiSelect>
            <small class="p-invalid" *ngIf="submitted && rolesSelected.length == 0">Debe seleccionar al menos un
              role.</small>
          </span>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="usuario">Usuario</label>
          <input type="text" pInputText id="usuario" [(ngModel)]="usuarioSeleccionado.username" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !usuarioSeleccionado.username">Usuario es requerido.</small>
        </div>

        <div class="p-field p-col">
          <label>Contraseña</label>
          <input type="password" [(ngModel)]="usuarioSeleccionado.password" required autofocus style="width: 88%" [disabled]="usuarioSeleccionado.id"
            promptLabel="Ingrese la contraseña" weakLabel="Debil" mediumLabel="Medio" strongLabel="Fuerte" [showPassword]="password"
            placeholder="Contraseña Actual" pPassword />           
          <button *ngIf="password" type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-danger" (click)="showPassword()"></button>
          <button *ngIf="!password" type="button" pButton pRipple icon="pi pi-eye-slash" styleClass="p-button-danger" (click)="showPassword()"></button>
          <small class="p-invalid" *ngIf="submitted && !usuarioSeleccionado.password">Contraseña es requerida.</small>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col" style="margin-top: 30px; margin-top: 30px;">
          Habilitado
          <p-inputSwitch id="habilitado" [(ngModel)]="usuarioSeleccionado.enabled"></p-inputSwitch>
        </div>
      </div>
      <p-accordion *ngIf="usuarioSeleccionado.idUsuario">
        <p-accordionTab header="Cambiar Contrasena">
          <div class="p-inputgroup" style="margin-bottom: 5px;">
            <input type="password" [(ngModel)]="usuarioSeleccionado.actualPassword" promptLabel="Ingrese la contraseña" weakLabel="Debil" mediumLabel="Medio"
              strongLabel="Fuerte" placeholder="Contraseña Actual" pPassword [showPassword]="oldPassword" />
            <button *ngIf="oldPassword" type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-danger" (click)="showOldPassword()"></button>
            <button *ngIf="!oldPassword" type="button" pButton pRipple icon="pi pi-eye-slash" styleClass="p-button-danger" (click)="showOldPassword()"></button>
          </div>
          <div class="p-inputgroup"  style="margin-bottom: 5px;">
            <input type="password" [(ngModel)]="usuarioSeleccionado.newPassword" promptLabel="Ingrese la contraseña" weakLabel="Debil" mediumLabel="Medio"
              strongLabel="Fuerte" placeholder="Nueva Contraseña" pPassword [showPassword]="newPassword"/>
            <button *ngIf="newPassword" type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-danger" (click)="showNewPassword()"></button>
            <button *ngIf="!newPassword" type="button" pButton pRipple icon="pi pi-eye-slash" styleClass="p-button-danger" (click)="showNewPassword()"></button>
          </div>
          <div class="p-inputgroup">
            <input type="password" [(ngModel)]="usuarioSeleccionado.confirmNewPassword" promptLabel="Ingrese la contraseña" weakLabel="Debil" mediumLabel="Medio"
              strongLabel="Fuerte" placeholder="Repetir Contraseña" pPassword [showPassword]="confirmNewPassword"/>
            <button *ngIf="confirmNewPassword" type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-danger" (click)="showNewConfirmPassword()"></button>
            <button *ngIf="!confirmNewPassword" type="button" pButton pRipple icon="pi pi-eye-slash" styleClass="p-button-danger" (click)="showNewConfirmPassword()"></button>
          </div>

        </p-accordionTab>
      </p-accordion>

    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
        (click)="salvarUsuario()"></button>
    </ng-template>
  </p-dialog>
